global:
  defaultStorageClass: ""
replicaCount: 1
image:
  repository: sysadminsmedia/homebox
  pullPolicy: IfNotPresent
  tag: v0.22.3
persistence:
  storageClass: ""
  capacity: 5Gi
  accessModes:
    - ReadWriteOnce
env:
  TZ: Europe/Paris
  HBOX_MODE: production
  HBOX_OPTIONS_ALLOW_REGISTRATION: true
  HBOX_OPTIONS_AUTO_INCREMENT_ASSET_ID: true
  HBOX_OPTIONS_ALLOW_ANALYTICS: false
  HBOX_OPTIONS_CHECK_GITHUB_RELEASE: true
  HBOX_WEB_MAX_FILE_UPLOAD: 10
  HBOX_STORAGE_DATA: /data
  HBOX_LOG_LEVEL: info
  HBOX_LOG_FORMAT: text
  HBOX_MAILER_HOST: ""
  HBOX_MAILER_PORT: 587
  HBOX_MAILER_USERNAME: ""
  HBOX_MAILER_PASSWORD: ""
  HBOX_MAILER_FROM: ""
  HBOX_DATABASE_DRIVER: sqlite3
  HBOX_DATABASE_SQLITE_PATH: ./.data/homebox.db?_pragma=busy_timeout=999&_pragma=journal_mode=WAL&_fk=1
  HBOX_DATABASE_SSL_MODE: disable
  HBOX_WEB_PORT: 7745
  HBOX_WEB_READ_TIMEOUT: 10s
  HBOX_WEB_WRITE_TIMEOUT: 10s
  HBOX_WEB_IDLE_TIMEOUT: 30s
  HBOX_LABEL_MAKER_WIDTH: 526
  HBOX_LABEL_MAKER_HEIGHT: 200
  HBOX_LABEL_MAKER_PADDING: 32
  HBOX_LABEL_MAKER_FONT_SIZE: 32
  HBOX_LABEL_MAKER_PRINT_COMMAND: ""
  HBOX_LABEL_MAKER_DYNAMIC_LENGTH: true
  HBOX_LABEL_MAKER_ADDITIONAL_INFORMATION: ""
  HBOX_THUMBNAIL_ENABLED: true
  HBOX_THUMBNAIL_WIDTH: 500
  HBOX_THUMBNAIL_HEIGHT: 500
postgresql:
  enabled: true
  auth:
    username: homebox-user
    password: homebox-password
    database: homebox-db
  primary:
    persistence:
      storageClass: ""
  readReplica:
    persistence:
      storageClass: ""
externalPostgresql:
  host: postgres
  port: 5432
  auth: null
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""
podAnnotations: {}
podLabels: {}
podSecurityContext:
  fsGroup: 65532
  seccompProfile:
    type: RuntimeDefault
securityContext:
  capabilities:
    drop:
      - ALL
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
service:
  type: ClusterIP
  port: 7745
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: homebox.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
resources:
  limits:
    cpu: 300m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
startupProbe:
  httpGet:
    path: /
    port: http
  failureThreshold: 30
  periodSeconds: 10
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
extraVolumes: []
extraVolumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
